ENV=development
DEBUG=true
PORT=8009

DATABASE_URL=postgresql+asyncpg://postgres:your-password@localhost:5432/restaurant_db
REDIS_URL=redis://localhost:6379/6
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256

AUTH_SERVICE_URL=http://localhost:8000
NOTIFICATION_SERVICE_URL=http://localhost:8001
VENUE_SERVICE_URL=http://localhost:8002
INVENTORY_SERVICE_URL=http://localhost:8011
